<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>These are the categories of our service projects:</h2>
    
    <ul>
        
        <% categories.forEach(category => { %>
            <li><a href="/category/<%= category.category_id %>"><%= category.name %></a</li>
        <% }); %>

    </ul>
</main>
<%- include('partials/footer') %>