<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
            <li><strong><%= project.date %></strong>: <%= project.title %> <em><%= project.name %></em></li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>